<<<<<<< HEAD
<%- include('../../partials/header.ejs')%>
<body>
    <%- include('../../partials/navbar.ejs')%>
    
</body>
<%- include('../../partials/footer.ejs')%>
=======
<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/navbarp.ejs')%>
        <h1>Testando</h1>
    </body>

    <%- include('./partials/footer.ejs')%>
>>>>>>> 46a1b22527c1d56d9b39512303b6d9469a0ad9ad
