<%- include('../../partials/header.ejs')%>

    <body>
        <%- include('../../partials/navbar.ejs')%>

            <div class="container">
                <div class="card-header">
                    <h3>Listagem do Enderecamento do produto</h3>
                </div>
                <div class="card-body">



                        <%tabelas.forEach(tabela=>{%>
                            <a href="/admin/enderecos/<%=tabela.id%>" class="btn btn-success"
                                id="botao1">
                                <%=tabela.nome_rua%>
                            </a>
                            <%})%>
                            
                                <hr>
                                    <!-- Titulo da tabela -->
                                    <caption>
                                            <input type="hidden" name="tabelaId" value="<%=tabelinha.id%>">
                                            <nav class="navbar navbar-light bg-light">
                                                <div class="container-fluid">
                                                    <%=tabelinha.nome_rua%>
                                                  <form class="d-flex">
                                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                                  </form>
                                                </div>
                                              </nav>
                                    </caption>
                                    <!-- Tabela Inicio -->
                                    <table class="table table-hover">
                                        <!-- Tabela Cabeça -->
                                        <thead>
                                            <tr>
                                                <%var x=0%>

                                                    <%var
                                                        b=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
                                                        %>
                                                        <th>#</th>
                                                        <%while(tabelinha.q_coluna>x){%>

                                                            <th>
                                                                <%=b[x]%>
                                                            </th>
                                                            <%x++%>
                                                                <%}%>
                                            </tr>
                                        </thead>
                                        <!-- Tabela Corpo -->
                                        <tbody>
                                            <!-- Declaração de variavel para percorrer toda a tabela -->
                                            <%var y=1%>
                                                <%while(tabelinha.q_nivel>=y){%>
                                                    <!-- Declaração de variavel para preencher os campos da tabela -->
                                                    <%var i=0%>
                                                        <tr>

                                                        <tr>
                                                            <th>
                                                                <%=y%>
                                                            </th>
                                                            
                                                            <%while(tabelinha.q_coluna>i){%>

                                                                    <td>
                                                                        <%enderecos.forEach(endereco=>{%>
                                                                            <%var teste = 0%>
                                                                            <%if(endereco.coluna==b[i] && endereco.nivel==y){%>
                                                                                <%teste = 1%>
                                                                                <%produtos.forEach(produto=>{%>
                                                                                    <%if(produto.id == endereco.produtoId){%>
                                                                        <input type="button" class="btn btn-info" name="endereco" value="<%=produto.nome%>">
                                                                                    <%}%>
                                                                                <%})%>
                                                                            <%}else if(teste != 0){%>
                                                                        <input type="button" name="endereco" value="<vazio>">
                                                                            <%}%>
                                                                        <%})%>
                                                                    </td>

                                                                <%i++%>
                                                            <%}%>
                                                                <%y++%>
                                                        </tr>
                                                        </tr>
                                                <%}%>

                                        </tbody>
                                        <!-- Tabela Fim -->
                                    </table>
                </div>
            </div>
    </body>
    <%- include('../../partials/footer.ejs')%>