<%- include('../../partials/header.ejs')%>
    <!-- <<<<<<<<<<<<<<<<<<<<<< COM ERROS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <body>
        <%- include('../../partials/navbar.ejs')%>
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h2>Tabelas</h2>
                    </div>
                    <div class="card-body">
                        <%tabelas.forEach(tabela=>{%>
                            <br>
                            <caption>
                                <%=tabela.nome_rua%>
                            </caption>
                            <table class="table">

                                <thead>
                                    <tr>
                                        <%var x=0%>
                                            <%var
                                                b=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
                                                %>
                                                <th>#</th>
                                                <%while(tabela.q_coluna>x){%>
                                                    <th>
                                                        <%=b[x]%>
                                                    </th>
                                                    <%x++%>
                                                        <%}%>
                                    </tr>
                                </thead>


                                <tbody>
                                    <%var y=1;%>
                                            <%while(tabela.q_nivel>=y){%>
                                                <%var i=0%>
                                    <tr>
                                    <tr>
                                        
                                                <th>
                                                    <%=y%>
                                                </th>
                                                <%while(tabela.q_coluna>i){%>
                                                    
                                                    <td>
                                                        <input type="radio" name="endereco"
                                                            value="<%=b[i]%> - <%=y%>">
                                                    </td>
                                                    <%i++%>

                                                        <%}%>
                                    </tr>
                                    </tr>
                                    <%y++; }%>
                                </tbody>

                            </table>
                            <%})%>
                    </div>
                </div>
            </div>
    </body>
    <%- include('../../partials/footer.ejs')%>