<%- include('../../partials/header.ejs')%>

    <body>
        <%- include('../../partials/navbar.ejs')%>

            <div class="container">
                <div class="card-header">
                    <h3>Cadastro do Enderecamento do produto</h3>
                </div>
                <div class="card-body">


                    <form method="POST" action="/enderecamento/save">

                        <%tabelas.forEach(tabela=>{%>
                            <a href="/admin/enderecamento/novo/<%=produto.id%>/<%=tabela.id%>" class="btn btn-danger"
                                onclick="mostraTable()" id="botao1">
                                <%=tabela.nome_rua%>
                            </a>
                            <%})%>
                            <input type="hidden" name="produtoId" value="<%=produto.id%>">

                                <hr>

                                <div id="divtable">
                                    <!-- Titulo da tabela -->
                                    <caption>
                                        <%=tabelinha.nome_rua%>
                                            <input type="hidden" name="tabelaId" value="<%=tabelinha.id%>">
                                    </caption>
                                    <!-- Tabela Inicio -->
                                    <table class="table">
                                        <!-- Tabela Cabeça -->
                                        <thead>
                                            <tr>
                                                <%var x=0%>

                                                    <%var
                                                        b=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
                                                        %>
                                                        <th>#</th>
                                                        <%while(tabelinha.q_coluna>x){%>

                                                            <th>
                                                                <%=b[x]%>
                                                            </th>
                                                            <%x++%>
                                                                <%}%>
                                            </tr>
                                        </thead>
                                        <!-- Tabela Corpo -->
                                        <tbody>
                                            <!-- Declaração de variavel para percorrer toda a tabela -->
                                            <%var y=1%>
                                                <%while(tabelinha.q_nivel>=y){%>
                                                    <!-- Declaração de variavel para preencher os campos da tabela -->
                                                    <%var i=0%>
                                                        <tr>

                                                        <tr>
                                                            <th>
                                                                <%=y%>
                                                            </th>
                                                            <%while(tabelinha.q_coluna>i){%>
                                                                <td>
                                                                    <input type="radio" name="endereco"
                                                                        value="<%=b[i]%> - <%=y%>">
                                                                </td>
                                                                <%i++%>

                                                                    <%}%>
                                                                        <%y++%>
                                                        </tr>
                                                        </tr>
                                                        <%}%>

                                        </tbody>
                                        <!-- Tabela Fim -->
                                    </table>
                                </div>

                                <div class="card-footer">
                                    <button class="btn btn-success">Cadastrar</button>
                                </div>
                </div>
                </form>
            </div>
    </body>
    <%- include('../../partials/footer.ejs')%>