<%- include('../../partials/header.ejs')%>

    <%- include('../../partials/navbar.ejs')%>

        <div class="container">
            <hr>
            <h2>Tabelas</h2>
            <a href="/admin/tabela/novo" class='btn btn-success'>Criar</a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Rua</th>
                        <th>Rua</th>
                        <th>Coluna</th>
                        <th>Nível</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% tabela.forEach(tabela=>{%>
                            <td>
                                <%= tabela.id%>
                            </td>
                            <td>
                                <%= tabela.nome_rua%>
                            </td>
                            <td>
                                <%= tabela.q_coluna%>
                            </td>
                            <td>
                                <%= tabela.q_nivel%>
                            </td>
                            <td>
                                <form method="POST" action="/tabela/delete" style="display: inline;"
                                    onsubmit="confirmarDelecao(event,this)">
                                    <input type="hidden" name="id" value="<%=tabela.id%>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                                <a href="/admin/enderecos/<%=tabela.id%>" class="btn btn-primary">Produtos</a>
                            </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>

        <%- include('../../partials/footer.ejs')%>
            <script>
                function confirmarDelecao(event, form) {
                    //Não deixa enviar o formulario
                    event.preventDefault();
                    var decision = confirm("Você quer deletar esse artigo?")
                    if (decision) {
                        //Manda o formulario -- o This dentro de um evento em tml você esta referenciando o formulrio em sim
                        form.submit()
                    } else {

                    }
                }
            </script>